@use '../../../assets/css/modules/nav';
@use '../../../assets/css/modules/brand';
@use 'module/list';
@use 'module/barier';
@use '../../../assets/css/modules/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #190f2b;
}